In [4]:

import numpy as np
import pandas as pd
import os

In [11]:
path_to_file = os.path.join(".", "Resources", "Rowan County Adoptable Dog List - Cat Info.csv")
RCA_cat_df = pd.read_csv(path_to_file)
RCA_cat_df.rename(columns = {"Description":"Description/Breed"}, inplace = True)
cleanRCA_cat_df = RCA_cat_df[["Animal ID", "Description/Breed", "Sex", "Intake"]].copy()
cleanRCA_cat_df["Shelter County"]= "Rowan"
cleanRCA_cat_df.head()

  Animal ID    Description/Breed     Sex Intake Shelter County
0   A124749  DSH Brw Tabby W/Wht  Female  Stray          Rowan
1   A124782          DSH Brn Tab    Male  Stray          Rowan
2   A124797       DSH Silver Tab    Male  Stray          Rowan
3   A124800     DSH Dilute Torti  Female  Stray          Rowan
4   A124661          DSH Blk/Wht    Male  Stray          Rowan

In [12]:
path_to_file = os.path.join(".", "Resources", "Rowan County Adoptable Dog List - Dog Info.csv")
RCA_dog_df = pd.read_csv(path_to_file)
RCA_dog_df.rename(columns = {"Breed":"Description/Breed"}, inplace = True)
cleanRCA_dog_df = RCA_dog_df[["Animal ID", "Description/Breed", "Sex", "Intake"]].copy()
cleanRCA_dog_df["Shelter County"]= "Rowan"
cleanRCA_dog_df.head()

  Animal ID Description/Breed     Sex Intake Shelter County
0   A122246     Catahoula Mix    Male  Owner          Rowan
1   A125012          Chih Mix  Female  Stray          Rowan
2   A125014           Lab Mix    Male  Stray          Rowan
3   A125017      Shepherd Mix  Female  Stray          Rowan
4   A125031      German Shep.    Male  Owner          Rowan

In [13]:
path_to_file = os.path.join(".", "Resources", "SoCo-Animal_Shelter_Intake_and_Outcome.csv")
SoCO_animals_df = pd.read_csv(path_to_file)
SoCO_animals_df.rename(columns = {"Breed":"Description/Breed", "Intake Subtype":"Intake"}, inplace = True)
cleanSoCo_animals_df = SoCO_animals_df[["Animal ID", "Description/Breed", "Sex", "Intake"]].copy()
cleanSoCo_animals_df["Shelter County"]= "SoCo"
cleanSoCo_animals_df.head()

  Animal ID  Description/Breed       Sex            Intake Shelter County
0   A395686      GERM SHEPHERD    Female             FIELD           SoCo
1   A379968             BEAGLE  Neutered             FIELD           SoCo
2   A315553  LABRADOR RETR/MIX    Spayed  OVER THE COUNTER           SoCo
3   A398868  GERM SHEPHERD/MIX   Unknown         FLD_CRUEL           SoCo
4   A374683        DOMESTIC SH  Neutered  OVER THE COUNTER           SoCo

In [16]:
AnimalStuff = pd.concat([cleanSoCo_animals_df,cleanRCA_dog_df,cleanRCA_cat_df], axis = 0)

In [15]:
total = 0

for df in [cleanSoCo_animals_df,cleanRCA_dog_df,cleanRCA_cat_df]:
    total += df.shape[0]
    
print(total)

20245

In [17]:
AnimalStuff.to_csv("Animanls.csv")